.footer {
	background-color: var(--color-black);
	color: var(--color-white);
	padding: 30px 0 66px;
	text-align: center;
	font-size: 18px;

	.footer__container {
		display: flex;
	}

	.footer__logo {
		display: block;
		margin: 0 auto 50px;
		max-width: 150px;
	}

	.nav {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.nav__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.nav__link {
		color: var(--color-white);
	}
}
