extends includes/base
block vars
	-var pageName = 'policy-page'
	-var pageTitle = 'Политика обработки персональных данных | RentSoft'
	-var pageDescription = 'Политика обработки персональных данных'
	-var pageKeywords = 'RentSoft'
block content
		main.main 	
			section.policy 	
				.container 
					.policy__text
						h1.h2 Политика обработки персональных данных
						ol
							li
								strong Общие положения
								ol
									li
										| Политика в&nbsp;отношении обработки персональных данных (далее &mdash;&nbsp;Политика) направлена на&nbsp;защиту прав и&nbsp;свобод физических лиц, персональные данные которых обрабатывает частная компания с&nbsp;ограниченной ответственностью "Berks Груп Лимитед" (Berks Group Limited (далее &mdash;&nbsp;Оператор).
									li
										| Политика разработана в&nbsp;соответствии с&nbsp;п. 2 ч. 1 ст. 18.1 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных» (далее &mdash;&nbsp;ФЗ «О персональных данных»), а&nbsp;также с&nbsp;учетом требований Регламента (ЕС) 2016/679 Европейского Парламента и&nbsp;Совета о&nbsp;защите физических лиц в&nbsp;отношении обработки персональных данных и&nbsp;о&nbsp;свободном перемещении таких данных и&nbsp;отмене Директивы 95/46 / EC (GDPR).
									li
										| Политика содержит сведения, подлежащие раскрытию в&nbsp;соответствии с&nbsp;ч. 1 ст. 14 ФЗ «О персональных данных», и&nbsp;является общедоступным документом.
							li
								strong Сведения об операторе
								ol
									li
										| Оператор ведет свою деятельность по&nbsp;адресу: Российская Федерация, г. Москва, ул. Автомоторная, д. 4А, стр. 21, этаж 2, пом. I, ком. 2.
							li
								strong Сведения об обработке персональных данных
								ol
									li
										| Оператор обрабатывает персональные данные на&nbsp;законной и&nbsp;справедливой основе для&nbsp;выполнения возложенных законодательством функций, полномочий и&nbsp;обязанностей, осуществления прав и&nbsp;законных интересов Оператора, работников Оператора и&nbsp;третьих лиц.
									li
										| Оператор получает персональные данные непосредственно у субъектов персональных данных.
									li
										| Оператор обрабатывает персональные данные автоматизированным и&nbsp;неавтоматизированным способами, с&nbsp;использованием средств вычислительной техники и&nbsp;без использования таких средств.
									li
										| Действия по&nbsp;обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и&nbsp;уничтожение.
									li
										| Оператор хранит Персональную информацию столько времени, сколько это необходимо для&nbsp;достижения цели, для&nbsp;которой она была собрана, или&nbsp;для&nbsp;соблюдения требований применимого законодательства и&nbsp;иных нормативных актов.
							li
								strong Обработка персональных данных клиентов
								ol
									li
										| Оператор обрабатывает персональные данные клиентов с&nbsp;их&nbsp;согласия, предоставляемого клиентами и/или&nbsp;их&nbsp;законными представителями путем совершения конклюдентных действий на&nbsp;настоящем интернет-сайте, в&nbsp;том числе, но не&nbsp;ограничиваясь, оформлением заказа, регистрацией в&nbsp;личном кабинете, подпиской на&nbsp;рассылку, в&nbsp;соответствии с&nbsp;настоящей Политикой.
									li
										| Оператор обрабатывает персональные данные клиентов не&nbsp;дольше, чем того требуют цели обработки персональных данных, если иное не&nbsp;предусмотрено требованиями применимого законодательства.
									li
										| Оператор обрабатывает следующие персональные данные клиентов:
										p
											| — Фамилия, имя, отчество;
											br
											| — Номер контактного телефона;
											br
											| — Адрес электронной почты.
									li
										| Оператор защищает персональную информацию Пользователя в&nbsp;соответствии с&nbsp;требованиями, предъявляемыми к&nbsp;защите такого рода информации, и&nbsp;несет ответственность за&nbsp;использование безопасных методов защиты такой информации.
									li
										| Для защиты персональной информации Пользователя, обеспечения ее надлежащего использования и&nbsp;предотвращения несанкционированного и/или&nbsp;случайного доступа к&nbsp;ней, Оператор применяет необходимые и&nbsp;достаточные технические и&nbsp;административные меры. Предоставляемая Пользователем персональная информация хранится на&nbsp;серверах с&nbsp;ограниченным доступом, расположенных в&nbsp;охраняемых помещениях.
									li
										| Оператор вправе передать персональную информацию пользователя (в&nbsp;том числе организациям, осуществляющим запись, систематизацию, накопление, уточнение, хранение, извлечение, непосредственно осуществляющим направление Пользователю специальных предложений, информации о&nbsp;новых товарах и&nbsp;рекламных акциях, обработку моих запросов и&nbsp;обращений, а&nbsp;также осуществляющим уничтожение персональной информации) третьим лицам в&nbsp;следующих случаях:
										p
											| — в рамках использования пользователем определенного Сервиса либо для&nbsp;оказания услуги пользователю, выполнения обязательств по&nbsp;договору;
											br
											| — передача предусмотрена российским или&nbsp;иным применимым законодательством в&nbsp;рамках установленной законодательством процедуры.
							li
								strong Сведения об обеспечении безопасности персональных данных
								ol
									li
										| Оператор назначает ответственного за&nbsp;организацию обработки персональных данных для&nbsp;выполнения обязанностей, предусмотренных применимым законодательством.
									li
										| Оператор применяет комплекс правовых, организационных и&nbsp;технических мер по&nbsp;обеспечению безопасности персональных данных для&nbsp;обеспечения конфиденциальности персональных данных и&nbsp;их&nbsp;защиты от неправомерных действий:
										p
											| — обеспечивает неограниченный доступ к&nbsp;Политике, копия которой размещена по&nbsp;адресу нахождения Оператора, а&nbsp;также может быть размещена на&nbsp;сайте Оператора (при его наличии);
											br
											| — во исполнение Политики утверждает и&nbsp;приводит в&nbsp;действие документ «Положение об обработке персональных данных» (далее &mdash;&nbsp;Положение) и&nbsp;иные локальные акты;
											br
											| — производит ознакомление работников с&nbsp;положениями законодательства о&nbsp;персональных данных, а&nbsp;также с&nbsp;Политикой и&nbsp;Положением;
											br
											| — осуществляет допуск работников к&nbsp;персональным данным, обрабатываемым в&nbsp;информационной системе Оператора, а&nbsp;также к&nbsp;их&nbsp;материальным носителям только для&nbsp;выполнения трудовых обязанностей;
											br
											| — устанавливает правила доступа к&nbsp;персональным данным, обрабатываемым в&nbsp;информационной системе Оператора, а&nbsp;также обеспечивает регистрацию и&nbsp;учёт всех действий с&nbsp;ними;
											br
											| — производит оценку вреда, который может быть причинен субъектам персональных данных в&nbsp;случае нарушения применимого законодательства;
											br
											| — производит определение угроз безопасности персональных данных при их&nbsp;обработке в&nbsp;информационной системе Оператора;
											br
											| — применяет организационные и&nbsp;технические меры и&nbsp;использует средства защиты информации, необходимые для&nbsp;достижения установленного уровня защищенности персональных данных;
											br
											| — осуществляет обнаружение фактов несанкционированного доступа к&nbsp;персональным данным и&nbsp;принимает меры по&nbsp;реагированию, включая восстановление персональных данных, модифицированных или&nbsp;уничтоженных вследствие несанкционированного доступа к&nbsp;ним;
											br
											| — производит оценку эффективности принимаемых мер по&nbsp;обеспечению безопасности персональных данных до ввода в&nbsp;эксплуатацию информационной системы Оператора;
											br
											| — осуществляет внутренний контроль соответствия обработки персональных данных требованиям применимого законодательства к&nbsp;защите персональных данных, Политике, Положению и&nbsp;иным локальным актам, включающий контроль за&nbsp;принимаемыми мерами по&nbsp;обеспечению безопасности персональных данных и&nbsp;их&nbsp;уровня защищенности при обработке в&nbsp;информационной системе Оператора.
							li
								strong Права субъектов персональных данных
								ol
									li
										| Субъект персональных данных имеет право:
										p
											| — на получение персональных данных, относящихся к&nbsp;данному субъекту, и&nbsp;информации, касающейся их&nbsp;обработки;
											br
											| — на исправление без необоснованной задержки неточных персональных данных , а&nbsp;также, принимая во внимания цели сбора и&nbsp;обработки, на&nbsp;дополнение неполных персональных данных, в&nbsp;том числе посредством предоставления дополнительного заявления;
											br
											| — на уточнение, ограничение, блокирование или&nbsp;уничтожение («право быть забытым») его персональных данных в&nbsp;случае, если они являются неполными, устаревшими, неточными, незаконно полученными или&nbsp;не&nbsp;являются необходимыми для&nbsp;заявленной цели обработки;
											br
											| — на отзыв данного им согласия на&nbsp;обработку персональных данных;
											br
											| — на защиту своих прав и&nbsp;законных интересов, в&nbsp;том числе на&nbsp;возмещение убытков и&nbsp;компенсацию морального вреда в&nbsp;судебном порядке;
											br
											| — на обжалование действий или&nbsp;бездействия Оператора в&nbsp;уполномоченный орган по&nbsp;защите прав субъектов персональных данных или&nbsp;в&nbsp;судебном порядке.
											br
											| — на запрос электронной копии своих персональных данных в&nbsp;структурированном, широко используемом, машиночитаемом формате.
									li
										| Для реализации своих прав и&nbsp;законных интересов субъекты персональных данных имеют право обратиться к&nbsp;Оператору либо направить запрос лично или&nbsp;с&nbsp;помощью представителя.
							li
								strong Цели сбора и&nbsp;обработки персональной информации пользователей:
								ol
									li
										| Оператор собирает, обрабатывает и&nbsp;хранит только ту персональную информацию, которая необходима.
									li
										| Оператор обрабатывает персональные данные клиентов в&nbsp;целях приема предложений о&nbsp;партнерстве и&nbsp;дальнейших переговоров с&nbsp;целью:
										ol
											li идентификации стороны в&nbsp;рамках договоров с&nbsp;Оператором;
											li приема предложений о&nbsp;партнерстве и&nbsp;дальнейших переговоров;
											li предоставления Пользователю клиентской поддержки и&nbsp;сервиса;
											li информирования Пользователя о&nbsp;проводимых Оператором мероприятиях и&nbsp;акциях;
									li
										| Оператор не&nbsp;проверяет достоверность предоставленной Пользователем персональной информации и&nbsp;не&nbsp;осуществляет контроль ее актуальности. Всю ответственность, а&nbsp;также возможные последствия за&nbsp;предоставление недостоверной или&nbsp;не&nbsp;актуальной персональной информации несёт Пользователь.
